.contenedor {
  /* background-image: url('/assets/img/estrella.jpg'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

/* Estilos para el contenedor de las tarjetas */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Distribuye las columnas uniformemente */
}

/* Estilos para cada tarjeta */
.col-md-4 {
  flex: 0 0 calc(25% - 20px);
  /* Establece el ancho de cada columna y deja espacio entre ellas */
  margin-bottom: 20px;
}

/* Estilos para la tarjeta principal */
.card-photo {
  width: 100%;
  border: 1px solid #cf9898;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card-photo:hover {
  transform: scale(1.05);
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
  padding: 10px;
  background-color: rgb(238, 108, 108) !important;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* Estilos para la imagen */
.img-card-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 10px;
}

/* Estilos para el párrafo dentro del cuerpo de la tarjeta */
.card-body p {
  margin-bottom: 0;
}